.informacoes-login{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:#8f388d ; 
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.img-login{
    width: 80%;
}

.textos1{
    color: #566566;
    font-weight:  700!important;
    text-align: center;
    font-family: 'Source Sans 3';
    margin-bottom: 6rem !important;
 }

 .container{
    max-width: 700px;
    min-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 !important;
   
 }

 .container-info{
   
    margin: 20px;
    width: 350px;
    
 }

.container-info .text-info{
    color: #566566;
    font-size: 20px;
    padding: 0 !important;
    margin: 12px 0 0 0 !important;
}

#senha, #usuario{
    background-color:rgb(232, 230, 230);
    margin-top: 0PX !important;
    padding: 16px;
    border-radius: 12px;
   
}

.MuiFormControl-marginNormal {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}


.button{
    background-image: linear-gradient( to bottom right ,#c269be,#8f388d);
    font-size: 1.7rem !important;
    width: 90%;
    font-weight: 700 !important;
    border-radius: 20px !important;
}

.button:hover{
    background-image: linear-gradient( to bottom right , #8f388d,#c269be);
    box-shadow: 2px 5px 20px rgba(0, 0, 0.6, 0.9) !important;
}

#cadastra{
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    color: #8f388d;
}

.text-decorator-none{
    text-decoration: none;
}

.cadastre-se{
    margin-top: 20px !important;
    font-size: 22px !important;
    text-decoration: none !important;
}

.img-goodHends{
    height: 200px;
}