.CardContent #container-box-card{
    width: 320px ;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    align-content: space-between !important;

}

.postagens1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.button1{
    color: white !important;
    background-color:#762075 !important;
    border-radius: 10px !important;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755) !important;
}
.button2{
    color: #762075 !important;
    background-color:white !important;
    border-radius: 10px !important;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755) !important;

}

