.imagem2{
    background-image: url(https://cdn.discordapp.com/attachments/1087794407052419213/1122276003339837481/sobre.png);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#texto1{
    color: white;
    background-color:#762075;
    border-radius: 10px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755);
}


.btnCancelar{
    margin-right: 20px !important;
}

#botaocad{
    background-color: white;
    color: #762075;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755);
}
#botaocad1{
    background-color:#762075;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755);
}


#senha{
  background-color: white;
}
#usuario{
    background-color: white; 
}