
.caixa{
    background-color: #ffffff;
}

.titulo{
   color: #762075 !important;
   font-weight: bold !important;
}

.botao{
    border-color: #762075 !important;
    background-color: #28bb04;
    color: #762075 !important;
}

.postagens{
    background-color: rgb(0, 0, 0);
}