
#welcome{
    font-size: 80px;
    text-align: right;
    padding: 350px 15px;
    
    color:gray;
}

#botaoconta{
    color: black;
    background-color:#2EA6AE;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.755);
    padding: 9px 16px;
    text-decoration: none;
}

#img1 {

   
}