@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Averia+Serif+Libre:wght@300;400;700&family=DM+Sans:ital@1&family=Heebo:wght@300;400;700&family=Nunito+Sans:wght@400;600&family=Source+Code+Pro:ital,wght@0,200;0,400;1,500&family=Work+Sans:ital,wght@1,400;1,600&display=swap');

body{
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;

    margin: 60px 0 0 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}